img{
    margin-bottom: 0;
}
table{
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    max-width: 600px;
}
body{
    margin: 0;
    background: #0c131b;
}
.center{
    text-align: center;
}
h1{
    margin: 0;
    text-transform: uppercase;
    color: #20b4bb;
    font-weight: bold;
    font-size: 55px;
    text-align: center;
}
h2{
    margin: 0;
    color: #bcbcbd;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
p{
    font-size: 14px;
    color: #86918c;
    margin: 0;
}